<br>
<br>
<form action="" method="post">
    <label for="title1">Title1</label>
    <input type="text" name="title[]" id="title1" />
    <br>
    <label for="price1">Price1</label>
    <input type="number" name="price[]" id="price1" />
    <br>
    <br>
    <label for="title2">Title2</label>
    <input type="text" name="title[]" id="title2" />
    <br>
    <label for="price2">Price2</label>
    <input type="number" name="price[]" id="price2" />
    <br>
    <br>
    <button type="submit>">Submit</button>
</form>